<html>
<head>
<h1 class="class1">-: The project :-</h1>
<style>
.class1{
color:red;
border:2px solid blue;

}
.class2{
color:orange;
border-top:3px double red;
border-bottom:3px double green;
}
.class3{
border:5px groove red; 
}
.class4{
height:200px;
width:500px;
border:6px groove green;
outline:2px solid yellow;
padding:20px;
margin:20px;
float:left;
overflow:auto;
border-radius:50px 0 0 0;
line-height:50px;
box-shadow:6px 6px 3px red,12px 12px 3px orange,18px 18px 3px yellow;
}
</style>
</head>
<body>
<h1 class="class2">Laora</h1>
<h1 style="border-bottom:3px dotted green;">Magi</h1>
<h2 class="class2">Purnendu</h2>
<br>
<script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script>
<script>
  window.botpressWebChat.init({
      "composerPlaceholder": "Chat with Sahayak",
      "botConversationDescription": "Hi! I am here to guide you in this smart classroom",
      "botId": "89cd15ca-8316-4dd8-b9a0-29ca34a94baf",
      "hostUrl": "https://cdn.botpress.cloud/webchat/v1",
      "messagingUrl": "https://messaging.botpress.cloud",
      "clientId": "89cd15ca-8316-4dd8-b9a0-29ca34a94baf",
      "webhookId": "5c2ee8e0-fe51-4eab-ba1a-aa89706470ab",
      "lazySocket": true,
      "themeName": "prism",
      "frontendVersion": "v1",
      "useSessionStorage": true,
      "enableConversationDeletion": true,
      "theme": "prism",
      "themeColor": "#2456eb"
  });
</script>
</body>
</html>